
#Editors
.vs/
.idea/
# for qodana, include .sln
*.sln

#Artifacts
Binaries/*
DerivedDataCache/*
Intermediate/*
Saved/*

*/Binaries/*
*/DerivedDataCache/*
*/Intermediate/*
*/Saved/*

Binaries
DerivedDataCache
Intermediate
Saved

Packages/*
Tests/*

#Plugins
Plugins/Developer/*
Plugins/*/Binaries/*
Plugins/*/Intermediate/*

*/Plugins/Developer/*
*/Plugins/*/Binaries/*
*/Plugins/*/Intermediate/*

#Built
*_BuiltData.uasset

#Build
Build/*/FileOpenOrder/Cooker*
Build/*/FileOpenOrder/Editor*
Build/*/ChunkLayerInfo/*

#Developer contents
Content/Developers/*

*.user

.DS_Store
Config/DefaultEditorPerProjectUserSettings.ini
Plugins/GameFeatures/*/Binaries/
Plugins/GameFeatures/*/Intermediate/
.vsconfig
Platforms/HoloLens/Config/HoloLensEngine.ini

*.dll
*.pdb
Version/*
*.lib

